//variables

$register-color:#9883e5;
$body-color: #1d3557;

*{
    box-sizing: border-box;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;;
    color: $body-color;
}

h2 {
    margin: 0 auto;
    font-size: 24px;
    width: 500px;
    text-align: center;
    margin-bottom: 50px;
    color: $body-color;
    
}

h3 {
    color: $body-color;
}

.home-logo{
    width:400px;
    margin: 0 auto;

    img {
        width: 80%;
    }
}

.logo-title {
    margin-top: 0px;
}


.home-text {
    margin: 0 auto;
    font-size: 24px;
    width: 500px;
    text-align: center;
    margin-bottom: 50px;
}


.register-button {
    background-color: $register-color;
    text-decoration: none;
    margin-right: 30px;
    border-radius: 10px;
    padding: 16px 46px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    text-transform: uppercase;
}

.login-button {
    background-color:$register-color;
    text-decoration: none;
    margin-right: 30px;
    border-radius: 10px;
    padding: 16px 60px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    text-transform: uppercase;

}

section {
    display: flex;
    gap: 4%;
    width: 95%;
    margin: 0 auto;
    margin-top: 4%;
}

.section-cards h3 {
    font-size: 24px;
    font-weight: 500;
    
}

.section-cards {
    border-top: solid 2px $register-color;
    width: 500px;
}

.section-cards p {
    color: #1d3557;
}

img {
    width: 90%;
    height: 70%;
}