* {
  box-sizing: border-box;
}

.postscard-container-parent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.save-button {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  
  border-radius: 5px;
  border: 0.5px;
  width: 75px;
  height: 25px;
 
  font-weight: bolder;
  
  
}


