* {
    box-sizing: border-box;
}

.edit-button {
    background-color: $register-color;
    padding: 10px 35px;
    border-radius: 13px;

    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bolder;




}

.delete-button {
    background-color: $register-color;
    padding: 10px 35px;
    border-radius: 13px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

.postcard-wrapper {

    .postcard-container {

        max-width: 600px;
        margin: 0 auto;
        

        .heading {
            font-size: 18px;
            font-weight: bolder;
            margin-top: 35px;
        }
        
        
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            padding: 0px;
            margin-bottom: 50px;

            li {
                font-size: 15px;
                border-radius: 10px;
                padding: 4px 10px;
                background-color: $orange-color;
                color: white;
                font-weight: bolder;

            }
        }

    }
}
