//variables


$orange-color: #dbad6a;
$register-color:#9883e5;


* {
  box-sizing: border-box;
}

.yellow {
  margin: auto;
  max-width: 350px;
  border-radius: 13px;

}


.flex-form  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-form input {
  background-color: white;
  margin: auto;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  border-radius: 15px;
  border: 1px solid $orange-color;

  // border-style: hidden;
}

::placeholder {
  text-align: center;
}


.flex-form input:last-child {
    background-color: $orange-color;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px 46px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    text-transform: uppercase;
    width: 174px;
    margin: 0 auto;
    margin-top: 20px;
}
