* {
  box-sizing: border-box;
}




.App {
  padding-top: 40px;
  text-align: center;
  background-color: white;
  width: 1400px;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
 
}

.map-container {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.links {
  background-color: rgba(71, 137, 190, 0.315);
  color: black;
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
  margin-left: 5px;

  
}

.flex-form{
  display: flex;
  flex-direction: column
}
 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
